.table-editable {
  position: relative;
}
.table-editable .glyphicon {
  font-size: 20px;
}

.table-remove {
  color: #800;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 45;
}
.table-remove:hover {
  color: #f00;
}

.table-edit {
  color: #007;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20;
}
.table-edit:hover{
  color: #00f;
}
.table-entry {
  cursor: pointer;
}
.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 70;
}
.table-add:hover {
  color: #0b0;
}
.hide{
  display: none;
}